@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    body

    {

      margin:0;

      padding:0;

      box-sizing:border-box;

      font-family: 'Poppins', Sans-Serif;

      display:flex;

      justify-content: center;

      align-items: center;

      min-height:80vh;

      background:#222;

      overflow:hidden;

    }

    .container{

      display:flex;

      justify-content: center;

      align-items: center;

    }

    .container .box{

      transform-style:preserve-3d;

      animation:animate 25s linear infinite;

    }

    

    @keyframes animate{

      0%{

        transform:perspective(500px) rotateX(0deg) rotate(25deg);

      }

      100%{

        transform:perspective(500px) rotateX(360deg) rotate(25deg);

      }

    }

    

    .container .box span{

      position: absolute;

      color:#f55004;

      font-size:1.35em;

      white-space: nowrap;

      text-transform:uppercase;

      font-weight:900;

      padding:0 10px;

      transform-style: preserve-3d;

      text-shadow: 0 5px 15px rgba(0,0,0,0.4);

      transform: translate(-50%,-50%) rotateX(calc(var(--i)*12deg)) translateZ(100px);

      background: linear-gradient(90deg,transparent,rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.6),transparent);

      line-height:0.76em;

    }

    .container .box span i:nth-child(1){

      font-style:initial;

      color:#ff246f;

    }

    

    .container .box span i:nth-child(3){

      font-style:initial;

      color:#ff246f;

    }

    

    .container .box span i:nth-child(2){

      font-style:initial;

      color:#12b5ff;

    }
